.footer {
    margin-top: auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
   height: 25px;
}
.navs{
    z-index: 99999;
    position: fixed;
    
}
section{
margin-top: 30px; 
}

.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.bg-1 { 
  background-color: #1abc9c;
  color: #ffffff;
}
.bg-2 { 
  background-color: #474e5d;
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
h1{
  color: rgb(248, 156, 9);
  
}


